* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "popins";
  src: url("./assets/font/Poppins/Poppins-Regular.ttf");
}


body {
  font-family: "popins";
  background-color: #23283e;
}

h3 {
  font-family: "popins_bold";
  color: #cdcdff
}

article {
  color: #90a0d9;
  ;
}

h4 {
  font-family: "popins_bold";
  color: #cdcdff
}

p {
  font-size: 1em;
  font-family: "popins_bold";
  color: #cdcdff
}